In [3]:

pip install --upgrade numpy

Requirement already satisfied: numpy in c:\users\hoi yee\anaconda3\lib\site-packages (2.1.3)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import numpy as np
import pandas as pd

In [6]:
df =pd.read_csv('C:/Users/Hoi Yee/Downloads/move_ratings.csv')

In [7]:
df.head()

   move_id  rating
0        1       5
1        2       3
2        3       4
3        4       2
4        5       5

In [8]:
print(df.head())

   move_id  rating
0        1       5
1        2       3
2        3       4
3        4       2
4        5       5

In [9]:
#calculate mean
mean_rating= df['rating'].mean()
print(f"mean rating: {mean_rating}")

mean rating: 3.5

In [10]:
#calculate median
median_rating= df['rating'].median()
print(f"median rating: {median_rating}")

#calculate mode
mode_rating= df['rating'].mode()
print(f"mode rating: {mode_rating}")

median rating: 3.5
mode rating: 0    3
1    5
Name: rating, dtype: int64

In [11]:
df

   move_id  rating
0        1       5
1        2       3
2        3       4
3        4       2
4        5       5
5        6       3
6        7       5
7        8       1
8        9       4
9       10       3